@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body { 
    margin: 2px;
    padding: 5px;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #747474;
}

